# Project exclude paths
/target/
#Dale a tu cuerpo alegria macarena, que tu cuerpo es pa´darle alergia y cosa buena
#dale a tu cuerpo alegria macarena, eeeeeeey macarena Aaaay

#I would take a bullet for you just to prove me love, only to find out you are the one holding the gun

#Ondiñas veñon, Ondiñas veñen, ondiñas veñen e vaaaan, non te vaias rianxeiraa que te vas a marear

#da costa verdescente, o raio transpareeeeente do placido luar.

#DAncing Queen, young and sweet, only seventeen
#Mamma mia, here we go again mammma, how can i

#You make me hate this city, and i don´t talk shit about you on the internet, never tell anyone anything bad
#cause that shit embarazing, you were my everything